useDynLib(tpr, .registration = TRUE, .fixes = "C_")

import(lgtdl)
importFrom("graphics", "lines", "plot")
importFrom("stats", "approx", "coef", "gaussian", "glm.fit", "pnorm",
           "poisson", "qnorm", "quantile", "sd", "var")

export(tpr,
       sig.test.int.ff,
       sig.test.boots.ff,
       cst.fit.ff,
       gof.test.int.ff,
       gof.test.boots.ff,
       gof.test.boots.pf,
       ci.plot)

